*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
body{
    // width: 100%;
    position: relative;
    overflow-x: hidden;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    padding: 0 50px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
nav{
    background-color: grey;
    .navbar{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        a{
            color: black;
            font-size: 22px;
            font-weight: bold;
            cursor: pointer;
        }
        .list{
            display: flex;
            gap: 20px;
            align-items: center;
            font-size: 14px;
            font-weight: bold;
            li{
                cursor: pointer;
                transition: all .3s ease;
                &:hover{
                    color: blue;
                }
            }
        }
        .menu{
            display: none;
        }
    }
}
.menu-list{
    height: 100%;
    transition: all 1s ease;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    position: absolute;
    right: 0;
    top: 0;
    background-color:white;
    transform: translateX(100%);
    opacity: 0;
    .close{
        padding: 10PX 30PX;
        font-size: 25px;
    }
    p{
        width: 100%;
        padding: 10px 30px;
        // border-bottom: 1px solid rgb(189, 189, 189);
    }
}
#grid{
    .grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        >div{

            img{
                width: 100%;
                height: 100%;
            }
        }
        // .iamge1{
        //     grid-row: 1/2;
        // }
        .image3{
            grid-area: 1/2/3/3;
        }
        .image2{
            grid-area: 2/1/3/2;
        }

    }
}


@media screen and (max-width:768px){
    nav{
        .navbar{
            .list{
                display: none;
            }
            .menu{
                display: block;
                color: black;
                font-size: 25px;
            }
        }
    }
}